
*.pdb
*.idb
*.obj
bin/*.dll
bin/*.map
bin/*.exe
Debug/
Release/
DEBUG_WIN32_DLL/
x64/
verify/
.vs/
bin/image/
Intermediate/
/thirdparty/libmcrypt/win32/vc19/libmcrypt
/thirdparty/libintl/libdll
/thirdparty2/libxml2/win32/VC10/build/libxml2Debug
/thirdparty2/libxml2/lib
Makefile.in
thirdparty2/glib/gio/gdbus-2.0/codegen/config.py.in
thirdparty2/glib/gio/gdbus-2.0/codegen/gdbus-codegen.in
thirdparty2/glib/gthread/gthread.rc.in
thirdparty2/glib/gobject/gobject.stp.in
thirdparty2/glib/gobject/glib-mkenums.in
thirdparty2/glib/gmodule/gmoduleconf.h.in
thirdparty2/glib/glib/glibconfig.h.win32.in
thirdparty2/glib/glib/glib.stp.in
thirdparty2/glib/gio/gnetworking.h.in
thirdparty2/glib/gio/gio.rc.in
thirdparty2/glib/gio/gio.stp.in
thirdparty2/glib/gmodule/gmodule.rc.in
thirdparty2/glib/gobject/gobject.rc.in
thirdparty2/glib/gobject/glib-genmarshal.in
thirdparty2/glib/gobject/libgobject-gdb.py.in
thirdparty2/glib/glib/glibconfig.h.in
thirdparty2/glib/glib/glib.rc.in
thirdparty2/glib/glib/libglib-gdb.py.in
revison.h/kernel/yuza/revison.h